@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

*:focus{
  outline: 0;
}

body{
  background: #fafcfd;
  padding: 100px 0;
  text-align: center;
}

.App h3{
  font-size: 28px;
  color: #0e1238;
  margin-bottom: 50px;
}



.App .container{
  width: 1122px;
  text-align: left;
  margin: 0 auto 50px;
}

.App .container >h4{
  font-size: 22px;
  color: #151926;
  margin-bottom: 40px;
}

.App .container .api-list{
  display: flex;
  margin: 0 -7px;
  flex-wrap: wrap;
}

.App .container .api-list .api-item{
  width: calc(100% / 3 - 14px);
  margin: 0 7px 14px;
}